<div id="container">
    <section>

        <img class="logo" src="../../assets/img/logo.png">
        <h1>Solução para seus Negócios</h1>
        <form>

            <div>
                <label>E-mail</label><br>
                <input type="text" name="email" id="email">
            </div>

            <div>
                <label>Senha</label><br>
                <input type="password" name="senha" id="senha">
            </div>

            <input type="checkbox" name="lembrar" id="lembrar">
            <label>Lembrar de min</label>

        </form>

        <div id="confirmar">
            <input type="submit" value="Confirmar">
            <p><a href="">Esqueci minha senha</a></p>
        </div>
    </section>
</div>