<div id="container">

    <img class="logo" src="../../assets/img/logo.png">
    <h1>Solução para seus Negócios</h1>
    <form [formGroup]="loginForm" (submit)="login()">

        <div>
            <label for="email">E-mail</label><br>
            <input formControlName="email" required placeholder="email" type="text" name="email" id="email">
        </div>

        <div>
            <label for="senha">Senha</label><br>
            <input formControlName="senha" required type="password" placeholder="senha" name="senha" id="senha">
        </div>

        <input type="checkbox" name="lembrar" id="lembrar">
        <label>Lembrar de min</label>

        <button type="submit">Continuar</button>

    </form>

    <div id="confirmar">
        <p><a href="">Esqueci minha senha</a></p>
    </div>

</div>